<style>
  table, th, td {
      border: 1px solid black;
  }
  table {
      border-collapse: collapse;
  }
</style>

<body>
  <div class="container my-4">
    <div class="row mb-1">
      <div class="col-md-12">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
          <h2 class="text-center">welcome to Project section</h2>
            <table>
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Created_at</th>
                </tr>
              </thead>    
              <tbody>
                <tr>
                  <td><%= @project.title %></td>
                  <td><%= @project.description %></td>
                  <td><%= @project.created_at %></td>
                </tr>
              </tbody>
            </table>
        <div class="row mb-3 my-4 container">
          <div class="d-grid  d-md-block col-md-12 mx-auto text-center">
            <div class=" row  text-center justify-content-center">
              
              <div class="col-md-1">
                <% if can? :update, @project %>
                <%= link_to 'Edit', edit_project_path(@project), class: "custom-link btn btn-primary" %>
                <% end %>
              </div>
              <div class="col-md-1">
                <% if can? :destroy, @project %>
                <%= button_to 'Delete', project_path(@project), method: :delete, class: "btn btn-danger "%>
                <% end %>
              </div>
            </div>
        </div>
      </div>
      <div class="col-md-2">
                <% if can? :create, @project %>
                <%= link_to 'Create new Project', new_project_path, class: "custom-link btn btn-primary " %>
                <% end %>
       </div>
    </div>
  </div>
</body>
